<!doctype html>
<html ng-app="omnibrokerApp">
<head>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" href="css/omnibroker.css" />
</head>
<body>
	<div ng-controller="ServiceListCtrl">
		<h1>Services: {{services.length}}</h1>
		<div class="serviceList" ng-repeat="service in services">
			<div class="serviceTitle">{{service.name}}</div>
			<div class="serviceDescription">{{service.description}}</div>
		</div>
		<button ng-click="addService()">Add Service</button>
	</div>
</body>
</html>